@font-face {
    font-family: 'KingHwa-OldSong'; 
    src: url('../../../Font/KingHwa-OldSong.ttf') format('truetype'); 
}

.mainContainer {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3E6F8A;
    padding: 50px;
    overflow: hidden;
    position: relative;
}

.backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    object-fit: cover;
    z-index: 1;
  }
  
  .body {
    z-index: 3; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.contentContainer {
    display: flex;
    flex-direction: column;
    background-color: rgba(224, 236, 242, 0.75);
    padding-top: 10px;
    padding-left: 130px;
    padding-right: 130px;
    padding-bottom: 20px;
    height: 70%;
    width: 70%;
    overflow: hidden; 
    
}

.TextContainer {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 40px;
}

.TextContainer a{
    font-size: 18px;
    font-family: 'KingHwa-OldSong'; 
    text-decoration: underline;
    color: black;
}

.productInfoContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 70px;
}

.picContainter {
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 380px;
}
.primaryPic {
    height: 300px;
    width: 300px;
    background-color: #3E6F8A;
    margin-bottom: 15px;
}
.secondaryPics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
}
.secondaryPic {
    display: flex;
    height: 60px;
    width: 60px;
    /* margin-right: 10px; */
    background-color: #7992A0;
}

.detailContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 40px;
}
.productTitle {
    font-size: 45px;
    font-family: 'KingHwa-OldSong';
    line-height: 1px;
}


/* price */
.priceContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.currentPrice {
    font-family: 'KingHwa-OldSong';
    font-size: 26px;
    color: #A82800;
    margin-top: 15px;
    
}

.detail {
    font-family: 'KingHwa-OldSong';
    font-size: 18px;
    margin-top: 15px;
}

/* bid button */
.bidBox {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 48px;
    width: 135px;
    font-size: large;
    border-radius: 27px;
    /* border: 1px solid grey; */
    /* padding-left: 8px; */
    background: black;
    margin-top: 20px;
    cursor: pointer;
}

.bidBox:hover {
    background: rgba(0, 0, 0, 0.3);
}

.bidButton {
    font-family: 'KingHwa-OldSong';
    font-size: 20px; 
    color: white;
    cursor: pointer;
    letter-spacing: 3px;
  }


/* tag */
.tagContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    gap: 10px;
}
.tagBox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 2px 5px; /* 根据需要调整内边距，上下2px，左右5px */
    border: 1px solid grey; 
    background: #EBDCCB;
    border-radius: 50px; 
    margin-left: 5px;
    margin-right: 5px;
}

.tag {
    background: transparent;
    border: none;
    font-family: 'KingHwa-OldSong';
    font-size: 16px; 
    color: black;
    line-height: 1; 
    padding: 0; 
    margin: 0; 
}

.productTimeWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 180px;
    background-color: white;
    border-radius: 50px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.productTime {
    font-size: 15px;
    font-family: 'KingHwa-OldSong'; 
    font-weight: 700;
}

.productTimeIcon {
    margin-right: 5px;
}

.categoryWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 80px;
    background-color: white;
    border-radius: 50px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.category {
    font-size: 15px;
    font-family: 'KingHwa-OldSong'; 
    font-weight: 700;
}

.trackWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 30px;
    width: 115px;
    background-color: white;
    border-radius: 50px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.trackIcon {
    height: 20px;
    width: 20px;
}


/* history */
.subTitleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #886830;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 60px;
}
.subTitle {
    font-size: 20px;
    font-family: 'KingHwa-OldSong';
    color: white;
}

.statusTagContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #886830;
    width: 75px;
    height: 25px;
    border-radius: 20px;
    position: absolute;
    margin-left: 180px;
    /* margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 60px; */
}
.statusTag {
    font-size: 13px;
    font-family: 'KingHwa-OldSong';
    color: white;
}

/* History Container */
.historyContainer {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */

    border-radius: 10px;
    background-color: #FFFFFF;
    margin-bottom: 10px;
    font-family: 'KingHwa-OldSong';
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 850px; /* Set a max-width for better responsiveness */
    margin-left: auto;
    margin-right: auto;
}
  
  /* History Info */
.historyTitleInfo {
    position: relative;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 8px 0;
}

.historyTitle {
    font-family: 'KingHwa-OldSong';
    font-size: 24px;
    flex: 1;
    text-align: center;
}

.titleBottom {
    position: absolute;
    bottom: 0; 
    left: 5%; 
    right: 5%; 
    height: 1px; 
    background-color: #BFCFD9;
    /* margin-bottom: 2px; */
}

.historyInfo {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-top: 13px;
}

.info {
    font-family: 'KingHwa-OldSong';
    font-size: 15px;
    flex: 1;
    text-align: center;
}

.firstInfo {
    font-family: 'KingHwa-OldSong';
    font-size: 15px;
    flex: 1;
    text-align: center;
    color: #AB8849;
}
  

.descriptionContainer {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */

    border-radius: 10px;
    background-color: #FFFFFF;
    margin-bottom: 10px;
    font-family: 'KingHwa-OldSong';
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 850px; /* Set a max-width for better responsiveness */
    margin-left: auto;
    margin-right: auto;
}
.descriptionContainer p{
    font-family: 'KingHwa-OldSong';
    
}

.precautions {
    margin-left: 62px;
    text-align: left;
    font-family: 'KingHwa-OldSong';
    color: black;
}
