@font-face {
    font-family: 'KingHwa-OldSong'; 
    src: url('../../Font/KingHwa-OldSong.ttf') format('truetype'); 
  }

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background: #BFCFD9;
    width: 220px;
    height: 140px;
    border-radius: 10px;
    position: relative;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.modalTitle {
    margin-top: 30px;
    font-family: 'KingHwa-OldSong';
    font-size: 28px;
}

.closeButton {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
}

.submitBox {
    position: absolute;
    bottom: 7px;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 30px;
    width: 65px;
    font-size: large;
    border-radius: 8px;
    border: 1px solid grey;
    background: #38515F;
    cursor: pointer;
}

.submitBox:hover {
    background: #588096;
}

.submitButton {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    border: none;
    font-family: 'KingHwa-OldSong';
    font-size: 18px; 
    color: white;
    cursor: pointer;
}
  