@font-face {
  font-family: 'KingHwa-OldSong'; 
  src: url('../Font/KingHwa-OldSong.ttf') format('truetype'); 
}

.mainContainer {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #38515F;
}

/* .mainContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url('../assets/background.png') center center / cover no-repeat;
  opacity: 0.5; 
  z-index: 0;
} */
  
  .titleContainer {
    display: flex;
    flex-direction: column;
    font-size: 48px;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'KingHwa-OldSong';
    letter-spacing: 10px;
    padding-bottom: 3%;
  }
  
  .buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 260px;
  }
  
  .inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .inputLabel {
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
    font-family: 'KingHwa-OldSong';
    font-size: 20px;
    letter-spacing: 6px;
    color: black;
  }

  .inputWrapper {
    position: relative;
    width: 100%;
  }
  
  .inputContainer > .errorLabel {
    /* color: red;
    font-family: 'KingHwa-OldSong';
    font-size: 12px; */
    color: rgb(255, 159, 34);
    font-family: 'KingHwa-OldSong';
    font-size: 17px;
    padding-top: 2%;
    padding-bottom: 3%;
  }
  
  .inputBox {
    height: 48px;
    width: 400px;
    font-size: large;
    border-radius: 8px;
    border: 1px solid grey;
    padding-left: 8px;
    background: white;
  }


  .input {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 300px;
    font-size: large;
    padding-left: 8px;
    background: transparent;
    border: none;
    outline: 1px solid transparent; 
  }

  
  .loginBox {
    height: 48px;
    width: 100px;
    font-size: large;
    border-radius: 8px;
    border: 1px solid grey;
    background: #AB8849;
    margin-bottom: 1%;
    
  }

  .inputButton {
    position: relative;
    top: 50%;
    left: 26%;
    transform: translate(-50%, -50%);
    background: transparent;
    border: none;
    font-family: 'KingHwa-OldSong';
    font-size: 20px; 
    color: white;
    cursor: pointer;
  }

  .textWrapper {
    font-family: 'KingHwa-OldSong';
    color: white;
  }

  .forgetPasswdContainer {
    display: flex;
    flex-direction: column;
    padding-left: 340px;    
  }
  .forgetPasswdContainer a{
    font-size: 16px;
    font-family: 'KingHwa-OldSong'; 
    text-decoration: underline;
    color: white;
}
