@font-face {
    font-family: 'KingHwa-OldSong'; 
    src: url('../Font/KingHwa-OldSong.ttf') format('truetype'); 
}

.navList {
    background-color: #7992A0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    height: 60px;
    /* margin-right: 10px; */
}

.navItem {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    /* margin-right: 5px; */
}

.navItem:hover {
    height: 30px;
    border-radius: 50px; 
    background-color: #6a818f;
}

.navcontent {
    display: block;
    color: white;
    text-align: center;
    font-family: 'KingHwa-OldSong';
    font-size: 16px;
    padding: 14px 16px;
    text-decoration: none;
}

.selectList {
    font-size: 16px;
    border: none;
    background: transparent;
    color: white;
    outline: none;
    appearance: none;
    font-family: 'KingHwa-OldSong';
    font-size: 20px;
    cursor: pointer;
}

/* .navList ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7992A0;
}
  
.navList li {
    float: right; 
}

.navList li a {
    display: block;
    color: white;
    text-align: center;
    font-family: 'KingHwa-OldSong';
    padding: 14px 16px;
    text-decoration: none;
}

.navList a:hover {
    background-color: #111;
} */

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdownContent a, .dropdownContent button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdownContent a:hover, .dropdownContent button:hover {
    background-color: #f1f1f1;
}

.logoutButton {
    background: none;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    padding: 12px 16px;
  }

