@font-face {
    font-family: 'KingHwa-OldSong'; 
    src: url('../Font/KingHwa-OldSong.ttf') format('truetype'); 
}


.mainContainer {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 150vh; */
    background: #38515F;
    padding-top: 2%;
    padding-bottom:10%;
}
  
.title {
    display: flex;
    flex-direction: column;
    font-size: 48px;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'KingHwa-OldSong';
    letter-spacing: 10px;
    margin-left:10px;

    
}
.subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'KingHwa-OldSong';
    font-size: 20px;
    letter-spacing: 1px;
    margin-left:1px;
    padding-bottom: 10%;
}


.sortingContainer {
    height: 50px;
    width: 773.4px;
    padding: 10px;
    display: flex; 
    align-items: center;
    justify-content: flex-end;
}

.sortingButton {
    display: flex; 
    width: 155px;
    height: 45px;
    align-items: center;
    justify-content: center;
    background-color: #7992A0;
    border-radius: 20px;
}


.contentTitle h1{
    display: flex;
    flex-direction: column;
    font-family: 'KingHwa-OldSong';
    font-size: 36px;
    letter-spacing: 30px;
    margin-left:30px;
    margin-bottom: 10%;
}



.contentContainer {
    display: flex;
    flex-direction: column;
    background-color: rgba(224, 236, 242, 0.75);
    height: 70%;
    width: 80%;
    align-items: center;
    justify-content: center;
    position: relative;


}


.column{
    display: grid;
    grid-template-columns: 1fr 5.5fr;
    align-items: start; 
    /* gap: 20px; */
}
  
.sidebarContainer ul {
    display: flex;
    flex-direction: column;
    list-style-type: none; 
    padding: 0;
}
.sidebarContainer li {
    padding-bottom: 10%; 
} 

.sidebarContainer{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    /* gap: 30px; */
    /* padding-right: 10%; */

}

.sidebarContainer button {
    height: 40px;
    width: 110px;
    background: #E8EFF3;
    font-size: large;
    font-family: 'KingHwa-OldSong'; 
    /* border: 2px solid #38515F; */
    border: none;
    border-radius: 20px;
    /* transition: .3s; */
    margin-left: 10px;
}
.sidebarContainer :hover {
    /* background: #1d39c4 */
}


.productCards {
    display: flex;
    flex-wrap: wrap;
    justify-items: space-between;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
    /* background-color: #fff; */
}
.productCard h3 {
    /* font-size: 48px; */
    /* color: red; */
}
.productCard {
    flex: 0 0 calc(33.33% - 20px);
    max-width: 0 0 calc(33.33% - 20px);
    width: 100%;
    background-color: #fff;
    border: 2px solid transparent;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    
}


.sortingContainer {
    height: 50px;
    width: 773.4px;
    padding: 10px;
    margin-left: 125px;
    margin-bottom: 10px;
    display: flex; 
    align-items: center;
    justify-content: flex-end;
}

.sortingButton {
    display: flex; 
    width: 150px;
    height: 45px;
    align-items: center;
    justify-content: center;
    background-color: #886830;
    border-radius: 20px;
}

.sortingList {
    display: flex; 
    align-items: center;
    justify-content: center;
    font-family: 'KingHwa-OldSong';
    font-size: 20px;
    color: white;
    gap: 10px;
}

select {
    padding: 5px;
    font-size: 16px;
    border: none;
    background: transparent;
    color: white;
    outline: none;
    appearance: none;
    background: url('../Images/down-select.png') no-repeat right center; 
    padding-right: 30px;
    font-family: 'KingHwa-OldSong';
    font-size: 20px;
    color: white;
    cursor: pointer;
}

select option {
    background: #886830;
    color: white;
    cursor: pointer;
}

label {
    font-size: 14px;
    margin-right: 10px;
    color: white;
}

 /* 設置圓角半徑，可以調整為您想要的大小 */ 
    /* padding: 10px 20px */
    /* cursor: pointer; */
    /* border: none;  */

    /* box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.1); 
    /* border: 1px solid gray; */
    /* border-radius: 8px; */
    /* color: white; */

/* .sidebarContainer {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center;
    height: 260px; 
}

.sidebarLabel {
    display: flex;
    flex-direction: column;
    
}
.sidebarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

} */

/* .section {
    display: flex;
    flex-direction: column;
    background-color: #E0ECF2;
    padding: 20px;
    height: 70%;
    align-items: center;
    justify-content: center;
    position: relative;
} */