@font-face {
    font-family: 'KingHwa-OldSong'; 
    src: url('../Font/KingHwa-OldSong.ttf') format('truetype'); 
}

.p {
    color:white;
}
.mainContainer {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #38515F;
}
  
.title {
    display: flex;
    flex-direction: column;
    font-size: 48px;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'KingHwa-OldSong';
    letter-spacing: 10px;
}
.subtitle {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'KingHwa-OldSong';
    letter-spacing: 1px;
}

.section {
    display: flex;
    flex-direction: column;
    background-color: #E0ECF2;
    padding: 20px;
    height: 70%;
    align-items: center;
    justify-content: center;
    position: relative;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    background-color: #E0ECF2;
    height: 70%;
    width: 80%;
    align-items: center;
    justify-content: center;
    position: relative;
}


