@font-face {
  font-family: 'KingHwa-OldSong'; 
  src: url('../Font/KingHwa-OldSong.ttf') format('truetype'); 
}

.mainContainer {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 160vh;
    background: #38515F;
  }
  
  .titleContainer {
    display: flex;
    flex-direction: column;
    font-size: 48px;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'KingHwa-OldSong';
    letter-spacing: 10px;
  }
  
  .resultContainer,
  .historyItem {
    flex-direction: row;
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: space-between;
  }
  
  .historyContainer {
    flex-direction: column;
    display: flex;
    height: 200px;
    align-items: center;
    flex-grow: 5;
    justify-content: flex-start;
  }
  
  .buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 260px;
  }
  
  .inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .inputLabel {
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
    font-family: 'KingHwa-OldSong';
    font-size: 20px;
    letter-spacing: 6px;
  }

  .inputWrapper {
    position: relative;
    width: 100%;
  }
  
  .inputContainer > .errorLabel {
    color: red;
    font-size: 12px;
  }
  
  .inputBox {
    height: 48px;
    width: 400px;
    font-size: large;
    border-radius: 8px;
    border: 1px solid grey;
    padding-left: 8px;
    background-color: white;
  }

  .input {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 300px;
    font-size: large;
    padding-left: 8px;
    background: transparent;
    border: none;
    outline: 1px solid transparent; 
  }

  .input4w {
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 250px;
    font-size: large;
    /* padding-left: 8px; */
    background: transparent;
    border: none;
    outline: 1px solid transparent; 
  }
  
  .loginBox {
    height: 48px;
    width: 100px;
    font-size: large;
    border-radius: 8px;
    border: 1px solid grey;
    background: #AB8849;
  }

  .inputButton {
    position: relative;
    top: 50%;
    left: 26%;
    transform: translate(-50%, -50%);
    background: transparent;
    border: none;
    font-family: 'KingHwa-OldSong';
    font-size: 20px; 
    color: white;
  }







  ::placeholder {
    font-family: 'KingHwa-OldSong';
  }

  .textContainer {
    font-family: 'KingHwa-OldSong';
    color: white;
  }